
.statusBG{
    padding: 5px 10px;
}

.bgYellow{
    background: yellow;
}

.bgOrange{
    background: orange;
}

.bgRed{
    background: red;
}

.bgGreen{
    background: green;
}


.aa-myaccount-register textarea{
    width: 100%;
    border: 1px solid #CCC;
}