/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2016, 12:05:39 AM
    Author     : Zohaib
*/

.notification-container{
    color: blue; 
    padding: 10px 20px; 
    background: #f8f8f8; 
    border: 1px solid #CCC; 
    margin-bottom: 10px;
}

.marginRight10{
    margin-right: 10px;
}

.marginRight20{
    margin-right: 20px;
}

    
.statusBG{
    padding: 5px 10px;
}

.bgYellow{
    background: yellow;
}

.bgOrange{
    background: orange;
}

.bgRed{
    background: red;
}

.bgGreen{
    background: green;
}

.colorFeildBox{
    position: relative;
}

.colorFeildBox .colorRemoveBtn{
    position: absolute;
    right: 5px;
    color: red;
}